#root {
  font-family: Lexend, 'Courier New', Courier, monospace;
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
body{
  background-color: rgb(142, 171, 167);
}
.background{
  background-color: rgb(226, 214, 166);
  position: absolute;
  top:15rem;
  left:0;
  width: 100%;
  height: calc(100% - 15rem);
}
.game{
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  

  width: clamp(15rem, 100%, 30rem);
  margin:auto;
  
}
.litOverlay{
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top:0;
  left:0;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.moveIndicator{
  width: 1.5em;
  aspect-ratio: 1/1;
  border-radius: 99rem;
  background-color: rgba(0, 0, 0, 0.268);
}
.boardSquare{
  position: relative;
  width: 100%;
  aspect-ratio: 1/1;
  background-color: white;

  display: flex;
  align-items: center;
  justify-content: center;
}
.boardSquare span{
  display: block;
  font-size: 2.5em;
  text-shadow: 0 0 0 3px black;


  cursor: pointer;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
}
.boardSquare span.black{
  color:rgb(23, 23, 23);
}
.evenSquare{
  background-color: rgb(254, 241, 188);
}
.oddSquare{
  background-color: rgb(74, 104, 85);
}